COMPOSE_PROJECT_NAME=infra-lab
TZ=Asia/Taipei

# Secrets
COMMON_PASSWORD=
KEYCLOAK_CLIENT_SECRET=change_me_in_production

# Versions
MSSQL_TAG=2025-CU1-ubuntu-24.04
REDIS_TAG=8.6.0-alpine
AZURITE_TAG=3.35.0
ELASTIC_VERSION=9.3.0
MOSQUITTO_TAG=2.0
RABBITMQ_TAG=4.0-management
SEARXNG_TAG=2026.1.30-ad42b553b
MAILPIT_TAG=v1.27
KEYCLOAK_TAG=26.5
SEQ_TAG=2025.2
UPTIME_KUMA_TAG=2
DOZZLE_TAG=v10.0.2
REDIS_EXPORTER_TAG=v1.80.2-alpine
REDIS_INSIGHT_TAG=3.0
INIT_PERMISSIONS_TAG=3

# Settings
# Datastores
MSSQL_PORT=1433
REDIS_PORT=6379
REDIS_INSIGHT_PORT=5540
AZURITE_BLOB_PORT=10000
AZURITE_QUEUE_PORT=10001
AZURITE_TABLE_PORT=10002
ES_PORT=9200
KIBANA_PORT=5601

# Messaging
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
MOSQUITTO_PORT=1883
MOSQUITTO_WEB_PORT=9002

# Services
SEARXNG_PORT=8080
KEYCLOAK_PORT=8180

# Tools
MAILPIT_WEB_PORT=8025
MAILPIT_SMTP_PORT=1025
SEQ_WEB_PORT=5340
SEQ_INGEST_PORT=5341
UPTIME_KUMA_PORT=3001
DOZZLE_PORT=8280
REDIS_EXPORTER_PORT=9121

# Resources
MEM_LIMIT=4294967296
CLUSTER_NAME=docker-cluster
LICENSE=basic
